<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>WWC Hack and Tell Dec 2016</title>
    <script src="js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/main.css">
  </head>
  <body>
    <div id="outer-container">
      <h1>WWC Hack and Tell</h1>
      <div id="light"></div>
      <div id="buttons-container">
        <button>On</button>
        <button>Flash</button>
      </div>
    </div>
    <script src="./js/index.js"></script>
  </body>
</html>
