body {
  padding: 30px;
  font-family: Helvetica, Arial, sans-serif;
}

button {
  font-size: 30px;
  padding: 10px 20px;
  background: #ccc;
  border: 1px solid #333;
  margin: 10px;
  cursor: pointer;
  flex-grow: 1;
  flex-basis: 0;
}

#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#buttons-container {
  display: flex;
  align-items: center;
  width: 300px;
}

#light {
  background: url('../images/light-off.png');
  background-size: 240px 240px;
  height: 240px;
  width: 240px;
  margin: 20px;
}

#light.on {
    background: url('../images/light-on.png');
}
